<h1>Eat-Da-Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Burgers ready for devouring</h2>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-6">
            <h2>Burgers that have been devoured</h2>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h3>Create a Burger</h3><br>
            <form class = "create-form">
                <div class = "form-group">
                    <input type = "text" id = "burger" name = "burgername">
                </div>
                <div>
                    <label for="devo">Devoured?</label><br>
                    <input type="radio" name = "devoured" value="1">Devoured!<br>
                    <input type="radio" name = "devoured" value="0">Uneaten

                </div>
                <button type = "submit">Submit Burger</button>
            <h7>Enter a burger you want to eat, click the Submit button</h7>
            </form>
    </div>
</div>
