<li>
    {{burger_name}}
    <button class = "change-devoured float-right" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}Regurgitate? :/{{else}} Devour it! {{/if}}
    </button>
</li>